/* VARIABLES & FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

$clr-dark: #2f283b;
$clr-light: #ffffff;
$clr-grayL: rgb(241, 244, 247);
$clr-grayM: rgb(226, 220, 220);
$clr-grayD: hsla(0, 0%, 37%, 1);
$clr-green: hsla(194, 50%, 33%, 1);
$clr-blue: rgb(36, 120, 165);

/* GLOBAL STYLES */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: $clr-dark;
}

body,
#root {
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: $clr-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

input,
button {
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  .header__title {
    font-size: 1.6rem;
  }
  .header__tools {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .divider {
      background-color: $clr-grayM;
      height: 35px;
      width: 1px;
    }
    .alerts {
      font-size: 1.4rem;
      color: $clr-dark;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header__user {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      font-size: 1.1rem;
      .avatar {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        border: 1px solid $clr-dark;
      }
    }
  }
}

/* SEARCH BAR */
::placeholder {
  color: inherit;
  font-size: inherit;
  opacity: 0;
}

input,
input:focus,
input:focus:not(:placeholder-shown) {
  background-color: $clr-grayL;
  border-radius: 30px;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 10px 20px;
  transition: width 0.3s;
  width: 250px;
}

input:not(:focus):placeholder-shown {
  background-image: url(./assets/search.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  background-color: $clr-grayL;
  width: 275px;
  min-height: 100vh;
  padding: 20px 30px;
  .sidebar__logo {
    max-width: 100px;
    height: auto;
    margin-left: -5px;
  }
  .sidebar__title {
    margin-bottom: 20px;
  }
  .sidebar__nav {
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      .sidebar__nav-link {
        a {
          font-size: 1.1rem;
          color: $clr-dark;
          &:hover {
            color: $clr-blue;
            font-weight: 500;
          }
        }
      }
    }
  }
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}
/* PRODUCT GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}

/* PRODUCT CARD */
.product-card {
  max-width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  &:hover {
    background-color: $clr-grayL;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .card__img {
    width: 100%;
    height: auto;
  }
}

/* FOOTER */
.footer {
  width: 100%;
  color: $clr-grayD;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px;
  svg {
    color: $clr-grayD;
    font-size: 1.1rem;
  }
}
